<div class="widgets">
  <!--SELECT PACIENT TYPE-->
  <div class="row">    
    <div class="col-md-12">
      <ba-card baCardClass="with-scroll">
        <div class="row">
          <div class="text-center">
            <form class="form-inline">
              <label translate>{{'pacient.type.name'}}</label>&nbsp;&nbsp;
              <select class="form-control">
                <option translate>{{'pacient.type.student'}}</option>
                <option translate>{{'pacient.type.external'}}</option>
              </select>
            </form>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
  <!--/SELECT PACIENT TYPE-->

  <div>
    <ba-card translate title="{{'register_pacient.pacient'}}" baCardClass="with-scroll">
      <form  #registerPacientForm="ngForm" (ngSubmit)="registerPacient(registerPacientForm.form.valid)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label translate>{{'pacient.code'}}</label>
              <div class="input-group">
                <input type="text" class="form-control disabled-field" [(ngModel)]="pacientCode" 
                  [disabled]="!isPacientExisting" name="pacientCode" maxlength="8" [rangeLength]="[8,8]" required
                  ngControl="pacientCode" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  #pacientCodeField="ngModel"/>
                <span class="input-group-addon addon-right  input-group-addon-primary">
                  <button  class="btn btn-primary" (click)="findPacientByCode()"type="button" 
                    [disabled]="pacientCodeField.errors?.required || pacientCodeField.errors?.rangeLength || !isPacientExisting">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label translate>{{'pacient.names'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="newPacient.names" 
                required name="names" ngControl="names" [disabled] ="isPacientExisting"
                #names="ngModel">
              <small *ngIf="names.errors?.required && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>    
            </div>
            <div class="form-group">
              <label translate>{{'pacient.paternalSurname'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="newPacient.paternalSurname"
                required name="paternalSurname" ngControl="paternalSurname" [disabled]="isPacientExisting"
                #paternalSurname="ngModel">
              <small *ngIf="paternalSurname.errors?.required && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>  
            </div>
            <div class="form-group">
              <label translate>{{'pacient.maternalSurname'}}</label>
              <input type="text" class="form-control disabled-field"[(ngModel)]="newPacient.maternalSurname"
                required name="maternalSurname" ngControl="maternalSurname" [disabled]="isPacientExisting"
                #maternalSurname="ngModel">
              <small *ngIf="maternalSurname.errors?.required && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>
            </div>
            <div class="form-group">
              <label translate>{{'pacient.civilState'}}</label>
              <select [(ngModel)]="newPacient.civilStateId" class="form-control disabled-field" 
                required name="civilStateId" ngControl="civilStateId" [disabled] ="isPacientExisting"
                #civilState="ngModel">
                <option *ngFor="let cs of newPacient.civilStateList" [ngValue]="cs.secondaryId" 
                  [selected]="cs.secondaryId == newPacient.civilStateId">{{cs.name}}</option>
              </select>
              <small *ngIf="civilState.errors?.required && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>
            </div>
            <div class="form-group">
              <label translate>{{'pacient.email'}}</label>
              <input type="text" class="form-control disabled-field" placeholder="email@example.com"
                required [(ngModel)]="newPacient.email" name="email" ngControl="email" 
                [disabled]="isPacientExisting" #email="ngModel" email>
              <small *ngIf="email.errors?.email && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>  
            </div>
          </div>
          <div class="col-md-6">
            <ba-card *ngIf="isEmrConfirmationMessage" baCardClass="with-scroll">
              <div class="checkbox-demo-row">
                <ba-checkbox [(ngModel)]="emr.isApplied" [baCheckboxClass]="'disabled'"
                  [ngModelOptions]="{standalone: true}" 
                  [label]="'¿Realizar examen médico?'" [disabled]="false"></ba-checkbox>
              </div>
            </ba-card>
            <div *ngIf="!isEmrConfirmationMessage" class="form-group">
              <label translate>{{'pacient.emrState'}}</label>
              <input type="text" class="form-control disabled" [(ngModel)]="emr.stateName" 
                name="emrStateName" ngControl="emrStateName" [disabled]="true">
            </div>
            <div class="form-group">
              <label translate>{{'pacient.eap'}}</label>
              <select [(ngModel)]="newPacient.eapId" class="form-control disabled-field" name="eapId"
                required ngControl="eapId" [disabled]="isPacientExisting" #eap="ngModel">
                <option *ngFor="let eap of newPacient.eapList" [ngValue]="eap.secondaryId" 
                  [selected]="eap.secondaryId == newPacient.eapId"> {{eap.name}}</option>
              </select>
              <small *ngIf="eap.errors?.required && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>
            </div>
            <div class="form-group">
              <label translate>{{'pacient.birthDate'}}</label> 
              <div *ngIf="!isPacientExisting">
                <input  class="form-control disabled-field" type="date" [(ngModel)]="newPacient.birthDate" 
                  required name="birthDate" ngControl="birthDate" [disabled]="isPacientExisting" #birthDate="ngModel">
                <small *ngIf="birthDate.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
              <input *ngIf="isPacientExisting" type="text" class="form-control disabled-field" 
                [(ngModel)]="newPacient.formattedDate" [disabled]="isPacientExisting"
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group">
              <label translate>{{'pacient.telephone'}}</label>
              <input class="form-control disabled-field" type="text" [(ngModel)]="newPacient.telephone"
                required name="telephone" ngControl="telephone" [disabled]="isPacientExisting" maxlength="9" 
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' #telephone="ngModel"/>
              <small *ngIf="telephone.errors?.required && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>
            </div>
            <br/>
            <div class="form-group radio-demo row">
              <div class="col-md-2">
                <label translate>{{'pacient.gender.name'}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-md-4">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="gender" ngControl="gender" [(ngModel)]="newPacient.gender" 
                    value = {{newPacient.genderList[0].toString()}} [checked]="newPacient.isMale()" 
                    [disabled]="!isGenderRadioDisabled">
                  <span translate>{{'pacient.gender.male'}}</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="gender" ngControl="gender" [(ngModel)]="newPacient.gender"
                    value = {{newPacient.genderList[1].toString()}} [checked]="!newPacient.isMale()"
                    [disabled]="isGenderRadioDisabled">
                  <span translate>{{'pacient.gender.female'}}</span>
                </label>
              </div>
            </div>
            <div class="form-group ">
              <small *ngIf="newPacient.gender==null && isFieldDisabled" 
                class="text-danger" translate>{{'general.messages.required'}}</small>
            </div>
          </div>
        </div>
        <br>
        <!-- ADDRESS-->
        <ba-card translate title="{{'pacient.ubigeo.name'}}" baCardClass="with-scroll card card-primary">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'pacient.ubigeo.department'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPacient.ubigeo.departmentCode" #departmentCode="ngModel"
                  class="form-control disabled-field" name="departmentCode"  [disabled]="isPacientExisting" 
                  ngControl="departmentCode" (ngModelChange)="loadProvincesList($event)">
                  <option *ngFor="let dpm of newPacient.departmentsList" 
                    [selected]="dpm.departmentCode == newPacient.ubigeo.departmentCode"
                    [ngValue] = "dpm.departmentCode">{{dpm.departmentDescription}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'pacient.ubigeo.province'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPacient.ubigeo.provinceCode" required #provinceCode="ngModel" 
                  class="form-control disabled-field" name="provinceCode" (ngModelChange) = "loadDistrictsList($event)"
                  ngControl="provinceCode" [disabled]="isPacientExisting">
                  <option *ngFor="let pv of newPacient.provincesList" [ngValue]="pv.provinceCode"
                    [selected]="pv.provinceCode == newPacient.ubigeo.provinceCode">
                    {{pv.provinceDescription}}</option>
                </select>
                <small *ngIf="provinceCode.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'pacient.ubigeo.district'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPacient.ubigeo.districtCode" required #districtCode="ngModel"
                  class="form-control disabled-field" name="districtCode"
                  ngControl="districtCode" [disabled]="isPacientExisting">
                  <option *ngFor="let dt of newPacient.districtsList" [ngValue]="dt.districtCode" 
                    [selected]="dt.districtCode == newPacient.ubigeo.districtCode">
                    {{dt.districtDescription}}</option>
                </select>
                <small *ngIf="districtCode.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'pacient.address'}}</label>&nbsp;&nbsp;
                <input class="form-control disabled-field" [(ngModel)]="newPacient.address"
                  required name="address" ngControl="address" [disabled]="isPacientExisting" #address="ngModel">
                <small *ngIf="address.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
        </ba-card>
        <!-- /ADDRESS-->

        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" 
              [disabled]="(isPacientExisting && emr.existEmr()) || (isPacientExisting && !emr.existEmr() && !emr.isApplied)" translate>{{'general.buttons.register'}}
              </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm"
               [disabled]="isPacientExisting" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>
  
 
</div>