<div class="widgets">
  <!--SELECT PACIENT TYPE-->
  <div class="row">    
    <div class="col-md-12">
      <ba-card baCardClass="with-scroll">
        <div class="row">
          <div class="text-center">
            <form class="form-inline">
              <label translate>{{'pacient.type.name'}}</label>&nbsp;&nbsp;
              <select class="form-control">
                <option translate>{{'pacient.type.student'}}</option>
                <option translate>{{'pacient.type.external'}}</option>
              </select>
            </form>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
  <!--/SELECT PACIENT TYPE-->

  <div>
    <ba-card translate title="{{'register_pacient.pacient'}}" baCardClass="with-scroll">
      <form  #registerPacientForm="ngForm" (ngSubmit)="registerPacient()">
        <div class="row">
          <div class="col-md-6">
            <form #findPacientForm="ngForm" (ngSubmit)="findPacientByCode()">
              <div class="form-group">
                <label translate>{{'pacient.code'}}</label>
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="pacientCode"  
                      name="pacientCode" ngControl="pacientCode" required >
                  <span class="input-group-addon addon-right  input-group-addon-primary">
                    <button  class="btn btn-primary" type="submit"><i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </form>
            <div class="form-group">
                <label translate>{{'pacient.names'}}</label>
                <input type="text" class="form-control disabled-field" [(ngModel)]="newPacient.names" 
                    required name="names" ngControl="names" [disabled] ="existPacient">
            </div>
            <div class="form-group">
                <label translate>{{'pacient.paternalSurname'}}</label>
                <input type="text" class="form-control disabled-field" [(ngModel)]="newPacient.paternalSurname"
                    required name="paternalSurname" ngControl="paternalSurname" [disabled]="existPacient">
            </div>
            <div class="form-group">
                <label translate>{{'pacient.maternalSurname'}}</label>
                <input type="text" class="form-control disabled-field"[(ngModel)]="newPacient.maternalSurname"
                    required name="maternalSurname" ngControl="maternalSurname" [disabled]="existPacient">
            </div>
            <div class="form-group">
                <label translate>{{'pacient.civilStatus'}}</label>
                <select [(ngModel)]="newPacient.idCivilStatus" class="form-control disabled-field" 
                    required name="idCivilStatus" ngControl="idCivilStatus" [disabled] ="existPacient">
                    <option *ngFor="let cs of newPacient.civilStatusList" [ngValue]="cs.idSecondary" 
                    [selected]="cs.idSecondary == newPacient.idCivilStatus">{{cs.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>{{'pacient.email'}}</label>
                <input type="text" class="form-control disabled-field" placeholder="email@example.com"
                    required [(ngModel)]="newPacient.email" name="email" ngControl="email" [disabled]="existPacient">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label translate>{{'pacient.medicalTestState'}}</label>
                <input type="text" class="form-control disabled" [(ngModel)]="newPacient.nameMedicalStatus" 
                    name="nameMedicalStatus" ngControl="nameMedicalStatus" [disabled]="true">
            </div>
            <div class="form-group">
                <label translate>{{'pacient.eap'}}</label>
                <select [(ngModel)]="newPacient.idEap" class="form-control disabled-field" name="idEap"
                    required ngControl="idEap" [disabled]="existPacient">
                    <option *ngFor="let eap of newPacient.eapList" [ngValue]="eap.idSecondary" 
                    [selected]="eap.idSecondary == newPacient.idEap"> {{eap.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label translate>{{'pacient.birthDate'}}</label> 
                <input class="form-control disabled-field" type="date" [(ngModel)]="newPacient.birthDate"
                    required name="birthDate" ngControl="birthDate" [disabled]="existPacient">
            </div>
            <div class="form-group">
                <label translate>{{'pacient.telephone'}}</label>
                <input class="form-control disabled-field" type="tel" [(ngModel)]="newPacient.telephone"
                    required name="telephone" ngControl="telephone" [disabled]="existPacient">
            </div>
            <div class="form-group">
                <label translate>{{'pacient.gender.name'}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline" translate>
                    <input type="radio" name="gender" ngControl="gender" [(ngModel)]="newPacient.gender"  
                        value = {{newPacient.genderList[0].name}}  [disabled]="existPacient || newPacient.isFemale()"
                        [checked]="newPacient.isMale()" >{{'pacient.gender.male'}}
                </label>
                <label class="radio-inline" translate>
                    <input type="radio" name="gender" ngControl="gender" [(ngModel)]="newPacient.gender"
                            value = {{newPacient.genderList[1].name}}  [disabled]="existPacient || newPacient.isMale()"
                        [checked]="newPacient.isFemale()" >{{'pacient.gender.female'}}
                </label>
            </div>
          </div>
        </div>
        <br>
        <!-- ADDRESS-->
        <ba-card translate title="{{'pacient.ubigeo.name'}}" baCardClass="with-scroll card card-primary">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'pacient.ubigeo.department'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPacient.ubigeo.departmentCode"
                      class="form-control disabled-field" name="departmentCode" (ngModelChange)="loadProvincesList($event)"
                          ngControl="departmentCode" [disabled]="existPacient">
                      <option *ngFor="let dpm of newPacient.departmentsList" 
                          [ngValue] = "dpm.departmentCode"
                          [selected]="dpm.departmentCode == newPacient.ubigeo.departmentCode">
                              {{dpm.departmentDescription}}</option>
                </select>
                <small *ngIf="newPacient.ubigeo.departmentCode == null && !existPacient" 
                      class="text-danger" translate>
                      {{'general.messages.required'}}
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label translate>{{'pacient.ubigeo.province'}}</label>&nbsp;&nbsp;
                  <select [(ngModel)]="newPacient.ubigeo.provinceCode" 
                      class="form-control disabled-field" name="provinceCode" (ngModelChange) = "loadDistrictsList($event)"
                          ngControl="provinceCode" [disabled]="existPacient">
                      <option *ngFor="let pv of newPacient.provincesList" 
                              [ngValue]="pv.provinceCode" 
                          [selected]="pv.provinceCode == newPacient.ubigeo.provinceCode">
                              {{pv.provinceDescription}}</option>
                  </select>
                  <small *ngIf="newPacient.ubigeo.provinceCode == null && !existPacient" 
                      class="text-danger" translate>
                      {{'general.messages.required'}}
                  </small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'pacient.ubigeo.district'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPacient.ubigeo.districtCode" 
                      class="form-control disabled-field" name="districtCode"
                          ngControl="districtCode" [disabled]="existPacient">
                      <option *ngFor="let dt of newPacient.districtsList"
                          [ngValue]="dt.districtCode" 
                          [selected]="dt.districtCode == newPacient.ubigeo.districtCode">
                              {{dt.districtDescription}}</option>
                </select>
                <small *ngIf="newPacient.ubigeo.districtCode == null && !existPacient" 
                  class="text-danger" translate>
                  {{'general.messages.required'}}
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'pacient.address'}}</label>&nbsp;&nbsp;
                <input class="form-control disabled-field">
              </div>
            </div>
          </div>
        </ba-card>
        <!-- /ADDRESS-->

        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="existPacient" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="existPacient" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>
  
 
</div>