<form>
<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th class="table-id">N°</th>
      <th>EXAMEN MÉDICO</th>
      <th>ESTADO</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="patientCode != null && medicalTestItemList !=null">
        <tr *ngFor="let test of medicalTestItemList; let i=index">
          <td class="table-id center">{{ i+1 }}</td>
          <td>{{ test.medicalTestName }}</td>
          <td>
            <button disabled="disabled" ngClass="{status-button btn btn-xs btn-{{ test.colorMessage }}">{{test.stateName}}</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-container *ngIf="patientCode == null">
    <label class="row col-md-12 text-center" translate>{{'general.messages.no_medical_test'}}</label>
  </ng-container>
</div>
</form>