<div class="widgets">
  <!--SELECT PATIENT TYPE-->
  <select-patient-type></select-patient-type>
  <!--/SELECT PATIENT TYPE-->

  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <form #registerGeneralMedicineTestForm="ngForm" (ngSubmit)="registerLaboratoryTest()">
        <div class="row">
          <div class="col-md-6">
            <find-patient (patientNotify)="receiveOutputExternal($event)"></find-patient>
          </div>
          <div class="col-md-6">
            <!-- MEDICAL TEST PROCESS-->
            <ba-card title="PROCESO DE EXAMEN MEDICO" baCardClass="with-scroll card card-primary">
              <medical-test-process-table></medical-test-process-table>
            </ba-card>
            <!-- /MEDICAL TEST PROCESS-->
          </div>
        </div>    
        
        <!--LABORATORY TEST RECORD-->
        <ba-card translate title="{{'laboratory_test.subtitle'}}" baCardClass="with-scroll card card-primary">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'laboratory_test.serological_test'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="laboratoryTest.serologicalTestId" #serologicalTest="ngModel"
                  class="form-control disabled-field" name="serologicalTest" [disabled]="isLaboratoryTestRegistered" 
                  ngControl="serologicalTest" >
                  <option *ngFor="let dpm of newPatient.departmentsList" 
                    [selected]="dpm.departmentCode == newPatient.ubigeo.departmentCode"
                    [ngValue] = "dpm.departmentCode">{{dpm.departmentDescription}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'patient.ubigeo.province'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPatient.ubigeo.provinceCode" required #provinceCode="ngModel" 
                  class="form-control disabled-field" name="provinceCode" (ngModelChange) = "loadDistrictsList($event)"
                  ngControl="provinceCode" [disabled]="isLaboratoryTestRegistered">
                  <option *ngFor="let pv of newPatient.provincesList" [ngValue]="pv.provinceCode"
                    [selected]="pv.provinceCode == newPatient.ubigeo.provinceCode">
                    {{pv.provinceDescription}}</option>
                </select>
                <small *ngIf="provinceCode.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'patient.ubigeo.district'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="newPatient.ubigeo.districtCode" required #districtCode="ngModel"
                  class="form-control disabled-field" name="districtCode"
                  ngControl="districtCode" [disabled]="isLaboratoryTestRegistered">
                  <option *ngFor="let dt of newPatient.districtsList" [ngValue]="dt.districtCode" 
                    [selected]="dt.districtCode == newPatient.ubigeo.districtCode">
                    {{dt.districtDescription}}</option>
                </select>
                <small *ngIf="districtCode.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'patient.address'}}</label>&nbsp;&nbsp;
                <input class="form-control disabled-field" [(ngModel)]="newPatient.address"
                  required name="address" ngControl="address" [disabled]="isLaboratoryTestRegistered" #address="ngModel">
                <small *ngIf="address.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
        </ba-card>
        <!-- /LABORATORY-->
        
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="isLaboratoryTestRegistered" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="isLaboratoryTestRegistered" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>

</div>