<div class="widgets">
  <!--SELECT PATIENT TYPE-->
  <select-patient-type></select-patient-type>
  <!--/SELECT PATIENT TYPE-->

  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <form #registerLaboratoryTestForm="ngForm" (ngSubmit)="registerLaboratoryTest()">
        <div class="row">
          <div class="col-md-6">
            <find-patient (patientNotify)="receiveOutputExternal($event)"></find-patient>
          </div>
          <div class="col-md-6">
            <!-- MEDICAL TEST PROCESS-->
            <ba-card title="PROCESO DE EXAMEN MEDICO" baCardClass="with-scroll card card-primary">
              <medical-test-process-table></medical-test-process-table>
            </ba-card>
            <!-- /MEDICAL TEST PROCESS-->
          </div>
        </div>    
        
        <!--LABORATORY TEST RECORD-->
        <ba-card translate title="{{'laboratory_test.subtitle'}}" baCardClass="with-scroll card card-primary">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'laboratory_test.serological_test'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="laboratoryTest.serologicalTestId" #serologicalTestId="ngModel"
                  class="form-control disabled-field" name="serologicalTestId" [disabled]="isLaboratoryTestRegistered" 
                  ngControl="serologicalTestId" >
                  <option *ngFor="let serological of serologicalItemList" 
                    [selected]="serological.secondaryId == laboratoryTest.serologicalTestId"
                    [ngValue] = "serological.secondaryId">{{serological.name}}</option>
                </select>
                <small *ngIf="serologicalTestId.errors?.required" 
                    class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'laboratory_test.blood_type'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="laboratoryTest.bloodTypeId" #bloodType="ngModel"
                  class="form-control disabled-field" name="bloodType" [disabled]="isLaboratoryTestRegistered" 
                  ngControl="bloodType" >
                  <option *ngFor="let bloodType of bloodTypeItemList" 
                    [selected]="bloodType.secondaryId == laboratoryTest.bloodTypeId"
                    [ngValue] = "bloodType.secondaryId">{{bloodType.name}}</option>
                </select>
                <small *ngIf="bloodType.errors?.required" 
                    class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label translate>{{'laboratory_test.hemoglobin'}}</label>&nbsp;&nbsp;
                <input type="text" class="form-control disabled-field" [(ngModel)]="laboratoryTest.hemoglobin" 
                  required name="hemoglobin" maxlength="3" ngControl="hemoglobin" [disabled] ="isLaboratoryTestRegistered"
                  #hemoglobin="ngModel" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                <small *ngIf="hemoglobin.errors?.required" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <label>&nbsp;</label>
              <div class="form-group">
                <input type="text" class="form-control disabled" [(ngModel)]="laboratoryTest.hemoglobinStateName" 
                  name="hemoglobinStateName" ngControl="hemoglobinStateName" [disabled]="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'laboratory_test.observation'}}</label>&nbsp;&nbsp;
                <input class="form-control disabled-field" [(ngModel)]="laboratoryTest.observation"
                   name="observation" ngControl="observation" [disabled]="isLaboratoryTestRegistered" #observation="ngModel">
              </div>
            </div>
          </div>
        </ba-card>
        <!-- /LABORATORY TEST RECORD-->
        
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="isLaboratoryTestRegistered" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="isLaboratoryTestRegistered" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>

</div>