<div class="widgets">
  <!--SELECT PATIENT TYPE-->
  <select-patient-type></select-patient-type>
  <!--/SELECT PATIENT TYPE-->

  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <form #registerGeneralMedicineTestForm="ngForm" (ngSubmit)="registerLaboratoryTest()">
        <div class="row">
          <div class="col-md-6">
            <find-patient (patientNotify)="receiveOutputExternal($event)"></find-patient>
          </div>
          <div class="col-md-6">
            <!-- MEDICAL TEST PROCESS-->
            <ba-card title="PROCESO DE EXAMEN MEDICO" baCardClass="with-scroll card card-primary">
              <medical-test-process-table></medical-test-process-table>
            </ba-card>
            <!-- /MEDICAL TEST PROCESS-->
          </div>
        </div>    
        
        <!-- TRIAJE AND CLINICAL EVALUATION-->
        <div class="row">
          <div class="col-md-12 ">
            <div class="container-fluid">
              <tabs>
                <tab translate [tabTitle]="'TRIAJE'" title="{{'general_medicine_test.triage'}}" [pageAddress]="pageAddressTab">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.weight'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.weight" 
                          required name="weight" ngControl="weight" [disabled] ="isLaboratoryTestRegistered"   
                          #weight="ngModel" pattern="^(?!\.?$)\d{0,3}(\.\d{0,2})?$"/>
                        <small *ngIf="(weight?.errors?.pattern || weight.errors?.required) && isFieldDisabled " 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                      </div>
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.stature'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.stature" 
                          required name="stature" ngControl="stature" [disabled] ="isLaboratoryTestRegistered"
                          #stature="ngModel" pattern="^(?!\.?$)\d{0,1}(\.\d{0,2})?$"/>
                        <small *ngIf="(stature?.errors?.pattern || stature.errors?.required) && isFieldDisabled" 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                      </div>
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.pulse'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.pulse" 
                          required name="pulse" ngControl="pulse" [disabled] ="isLaboratoryTestRegistered"
                          onkeypress='return event.charCode >= 48 && event.charCode <= 57' #pulse="ngModel" maxlength="4">
                        <small *ngIf="pulse.errors?.required && isFieldDisabled" 
                          class="text-danger" translate>{{'general.messages.required'}}</small>
                      </div>
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.lmp'}}</label>
                        <div *ngIf="!isLaboratoryTestRegistered">
                          <input type="date" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.lmp" 
                            required name="lmp" ngControl="lmp" [disabled] ="isLaboratoryTestRegistered" 
                            #lmp="ngModel">
                          <small *ngIf="lmp.errors?.required && isFieldDisabled" 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                        </div>
                        <input *ngIf="isLaboratoryTestRegistered" type="text" class="form-control disabled-field" 
                          [(ngModel)]="generalMedicineTest.formattedDate" [disabled]="isLaboratoryTestRegistered"
                          [ngModelOptions]="{standalone: true}"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <!--BLOOD PRESSURE-->
                      <ba-card translate title="{{'general_medicine_test.blood_presure.name'}}" baCardClass="card card-primary">
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.blood_presure.systolic'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.systolic" 
                              required name="systolic" ngControl="systolic" [disabled] ="isLaboratoryTestRegistered"
                              onkeypress='return event.charCode >= 48 && event.charCode <= 57' #systolic="ngModel" maxlength="4">
                          <small *ngIf="systolic.errors?.required && isFieldDisabled" 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                        </div>
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.blood_presure.diastolic'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.diastolic" 
                            required name="diastolic" ngControl="diastolic" [disabled] ="isLaboratoryTestRegistered"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' #diastolic="ngModel" maxlength="4">
                          <small *ngIf="diastolic.errors?.required && isFieldDisabled" 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                        </div>
                      </ba-card>
                      <!--/BLOOD PRESSURE-->
                    </div>
                    <div class="col-md-4">
                      <!--VISUAL ACUITY-->
                      <ba-card translate title="{{'general_medicine_test.visual_acuity.name'}}" baCardClass="card card-primary">
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.visual_acuity.right_eye'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.rigthEye" 
                            required name="rightEye" ngControl="rightEye" [disabled] ="isLaboratoryTestRegistered"
                            #rightEye="ngModel" pattern="^(?!\.?$)\d{0,3}(\.\d{0,2})?$"/>
                          <small *ngIf="(rightEye?.errors?.pattern || rightEye.errors?.required) && isFieldDisabled " 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                        </div>
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.visual_acuity.left_eye'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.leftEye" 
                            required name="leftEye" ngControl="leftEye" [disabled] ="isLaboratoryTestRegistered"
                            #leftEye="ngModel" pattern="^(?!\.?$)\d{0,3}(\.\d{0,2})?$"/>
                          <small *ngIf="(leftEye?.errors?.pattern || leftEye.errors?.required) && isFieldDisabled " 
                            class="text-danger" translate>{{'general.messages.required'}}</small>
                        </div>
                      </ba-card>
                      <!--/VISUAL ACUITY-->
                    </div>
                  </div>
                  <br/>
                  <div class="row text-right">
                    <button type="button" (click)="initilize()" class="btn btn-info btn-xm">Siguiente</button>
                  </div>
                </tab>                
              </tabs>
            </div>
          </div>
        </div>
        <!-- /TRIAJE AND CLINICAL EVALUATION-->
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="isLaboratoryTestRegistered" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="isLaboratoryTestRegistered" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>

</div>