@import "../../theme/sass/conf/conf";

.modal {
  padding-top: 40px;
  background:rgba(0,0,0,0.5);

  .modal-content {
    color: $dropdown-text;
    width: 900px;
    margin: auto;
  
    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
    
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

