<div class="widgets">
  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <!-- PACIENT INFORMATION-->
      <form #consultHealthRecordForm="ngForm" 
          (ngSubmit)="consultHealthRecord(consultHealthRecordForm.form.valid)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.code'}}</label>
              <div class="input-group">
                <input type="text" class="form-control disabled-field" [(ngModel)]="patientCode" 
                  name="patientCode" maxlength="8" [rangeLength]="[8,8]" required
                  ngControl="patientCode" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  #patientCodeField="ngModel"/>
                <span class="input-group-addon addon-right  input-group-addon-primary">
                  <button  class="btn btn-primary" (click)="findPhrByPatientCode()"type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <small *ngIf="isPhrNoRegistered && isActive" class="text-danger" 
                translate>{{'general.messages.is_phr_no_registered'}}</small>
            </div>
          </div>
        </div>    
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.names'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.names" 
                required name="names" ngControl="names" [disabled] ="true"
                #names="ngModel">    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.paternalSurname'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.paternalSurname" 
                required name="paternalSurname" ngControl="paternalSurname" [disabled] ="true"
                #paternalSurname="ngModel">    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.maternalSurname'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.maternalSurname" 
                required name="maternalSurname" ngControl="maternalSurname" [disabled] ="true"
                #maternalSurname="ngModel">    
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.age'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.age" 
                required name="age" ngControl="age" [disabled] ="true"
                #age="ngModel">    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.gender.name'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.gender" 
                required name="gender" ngControl="gender" [disabled] ="true"
                #gender="ngModel">    
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="form-group">
              <button  class="btn btn-primary btn-xm" 
                [disabled] = "isPhrNoRegistered"  (click)="showPatientDetailModal()"type="button" translate>
                {{'general.buttons.show_patient_detail'}}
              </button>
            </div>
          </div>
        </div>
        <!-- /PACIENT INFORMATION-->
        <br/>
        <!-- MEDICAL TESTS -->
        <div class="row">
          <div class="col-md-12 ">
            <div class="container-fluid">
              <tabs>
                <tab translate tabTitle="EXAMENES MÉDICOS" title ="EXAMENES MÉDICOS" [pageAddress]="pageAddressTab"> 
                  <div class="horizontal-scroll">
                    <br/>
                    <table class="table table-hover">
                      <thead>
                        <tr class="black-muted-bg">
                          <th class="table-id" >N°</th>
                          <th translate>{{'health_record.test_table.health_plan'}}</th>
                          <th translate>{{'health_record.test_table.state'}}</th>
                          <th translate>{{'general.subtitles.create_date'}}</th>
                          <th translate>{{'general.subtitles.end_date'}}</th>
                          <th translate>{{'general.subtitles.options'}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="phr.emrSummaryList != null">
                          <tr *ngFor="let item of phr.emrSummaryList; let i=index">
                            <td class="table-id center">{{ i+1 }}</td>
                            <td>{{ item.healthPlan }}</td>
                            <td>{{ item.state }}</td>
                            <td>{{ item.formattedCreateDate }}</td>
                            <td>{{ item.formattedUpdateDate }}</td>
                            <td>
                              <button type="button"  class="btn btn-info btn-icon btn-xm"
                                (click)="showEmrModal(phr.emrSummaryList.indexOf(item))" >
                                <i class="ion-search"></i>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <ng-container *ngIf="phr.emrSummaryList.length == 0">
                      <br/>
                      <label class="row col-md-12 text-center" translate>{{'general.messages.no_emrs'}}</label>
                    </ng-container>
                  </div>
                  <br/>
                </tab>
              </tabs>
            </div>
          </div>
        </div>
        <!-- /MEDICAL TESTS-->
      </form>
    </ba-card>
  </div>

  <!-- PATIENT DETAIL MODAL-->
  <div bsModal #patientDetailModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form #consultPatientDetailForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-label="Close" (click)="hidePatientDetailModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 translate class="modal-title">{{'health_record.emr.subtitle'}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label translate>{{'patient.code'}}</label>  
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.code" 
                    [disabled]="true" name="patientCode" ngControl="patientCode"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label translate>{{'patient.eap'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.eap" 
                    name="eap" ngControl="eap" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label translate>{{'patient.telephone'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.telephone" 
                    name="telephone" ngControl="telephone" [disabled] ="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label translate>{{'patient.names'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.names" 
                    name="names" ngControl="names" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label translate>{{'patient.paternalSurname'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.paternalSurname" 
                    name="paternalSurname" ngControl="paternalSurname" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label translate>{{'patient.maternalSurname'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.maternalSurname" 
                    name="maternalSurname" ngControl="maternalSurname" [disabled] ="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label translate>{{'patient.civilState'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.civilState" 
                    name="civilState" ngControl="civilState" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label translate>{{'patient.birthDate'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.formattedDate" 
                    name="birthDate" ngControl="birthDate" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label translate>{{'patient.gender.name'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.gender" 
                    name="gender" ngControl="gender" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label translate>{{'patient.email'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.email" 
                    name="email" ngControl="email" [disabled] ="true">
                </div>
              </div>
            </div>
            <br/>
            <!-- ADDRESS-->
            <ba-card translate title="{{'patient.ubigeo.name'}}" baCardClass="with-scroll card card-primary">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label translate>{{'patient.ubigeo.department'}}</label>
                    <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.ubigeo.departmentDescription" 
                      name="departmentDescription" ngControl="departmentDescription" [disabled] ="true">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label translate>{{'patient.ubigeo.province'}}</label>
                    <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.ubigeo.provinceDescription" 
                      name="provinceDescription" ngControl="provinceDescription" [disabled] ="true">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label translate>{{'patient.ubigeo.district'}}</label>
                    <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.ubigeo.districtDescription" 
                      name="districtDescription" ngControl="districtDescription" [disabled] ="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label translate>{{'patient.address'}}</label>
                    <input class="form-control disabled-field" [(ngModel)]="phr.patientSummary.address"
                      required name="address" ngControl="address" [disabled]="true" #address="ngModel">
                  </div>
                </div>
              </div>
            </ba-card>
            <!-- /ADDRESS-->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /PATIENT DETAIL MODAL-->

<!-- EMR OF NEW PATIENT MODAL-->
  <div bsModal #emrOfNewPatientModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form #consultEMROfNewPatientForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-label="Close" (click)="hideEmrOfNewPatientModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 translate class="modal-title">{{'health_record.emr.subtitle'}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label translate>{{'patient.code'}}</label>  
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.code" 
                    [disabled]="true" name="patientCode" ngControl="patientCode"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label translate>{{'health_record.emr.patient'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.fullname" 
                    name="patient" ngControl="patient" [disabled] ="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label translate>{{'health_record.emr.certificate_number'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.code" 
                    name="certificate_number" ngControl="certificate_number" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label translate>{{'patient.eap'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.eap" 
                    name="eap" ngControl="eap" [disabled] ="true">
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <!-- LABORATORY RESULTS-->
              <div class="col-md-8">
                <ba-card translate title="{{'health_record.emr.laboratory_results'}}" baCardClass="with-scroll card card-primary">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label translate>{{'laboratory_test.hemoglobin'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.hemoglobin" 
                          required name="hemoglobin" ngControl="hemoglobin" [disabled] ="true">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label translate>{{'laboratory_test.hemoglobin_state'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.bloodCount" 
                          required name="hemoglobin_state" ngControl="hemoglobin_state" [disabled] ="true">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label translate>{{'health_record.emr.serological_test'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.serologicalResult" 
                          required name="serological_test" ngControl="serological_test" [disabled] ="true">
                      </div>
                    </div>
                  </div>
                </ba-card>
              </div>
              <!-- /LABORATORY RESULTS-->
            
              <!-- RADIOLOGY RESULTS-->
              <div class="col-md-4">
              
                <ba-card translate title="{{'health_record.emr.radiology_results'}}" baCardClass="with-scroll card card-primary">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label translate>{{'health_record.emr.radiology_test'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.radiologyResult" 
                          required name="radiology_test" ngControl="radiology_test" [disabled] ="true">
                      </div>
                    </div>
                  </div>
                </ba-card>
              </div>
              <!-- /RADIOLOGY RESULTS-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /EMR OF NEW PATIENT MODAL-->

  <!-- EMR OF OLD PATIENT MODAL-->
  <div bsModal #emrOfOldPatientModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form #consultEMROfOldPatientForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-label="Close" (click)="hideEmrOfNewPatientModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 translate class="modal-title">{{'health_record.emr.subtitle'}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label translate>{{'health_record.emr.patient'}}</label>
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.fullname" 
                    required name="names" ngControl="names" [disabled] ="true">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label translate>{{'health_record.emr.eap'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="phr.patientSummary.eap" 
                    required name="eap" ngControl="eap" [disabled] ="true">
                </div>
              </div>
            </div>
            <br/>
            <!-- TEST RESULTS-->
            <ba-card translate title="{{'health_record.emr.results'}}" baCardClass="with-scroll card card-primary">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.psychological_test'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.psychologicalResult" 
                      required name="psychological_test" ngControl="psychological_test" [disabled] ="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.radiology_test'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.radiologyResult" 
                      required name="radiology_test" ngControl="radiology_test" [disabled] ="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.serological_test'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.serologicalResult" 
                      required name="serological_test" ngControl="serological_test" [disabled] ="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.blood_type'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="emrSummary.bloodType" 
                      required name="blood_type" ngControl="blood_type" [disabled] ="true">
                  </div>
                </div>
              </div>
            </ba-card>
            <!-- /TEST RESULTS-->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /EMR OF OLD PATIENT MODAL-->
</div>