<div class="widgets">
  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <!-- PACIENT INFORMATION-->
      <form #consultHealthRecordForm="ngForm" 
          (ngSubmit)="consultHealthRecord(consultHealthRecordForm.form.valid)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.code'}}</label>
              <div class="input-group">
                <input type="text" class="form-control disabled-field" [(ngModel)]="patientCode" 
                  [disabled]="!isPatientExisting" name="patientCode" maxlength="8" [rangeLength]="[8,8]" required
                  ngControl="patientCode" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  #patientCodeField="ngModel"/>
                <span class="input-group-addon addon-right  input-group-addon-primary">
                  <button  class="btn btn-primary" (click)="findPatientByCode()"type="button" 
                    [disabled]="patientCodeField.errors?.required || patientCodeField.errors?.rangeLength || !isPatientExisting">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>    
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.names'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                required name="names" ngControl="names" [disabled] ="true"
                #names="ngModel">    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.paternalSurname'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="patient.paternalSurname" 
                required name="paternalSurname" ngControl="paternalSurname" [disabled] ="true"
                #paternalSurname="ngModel">    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.maternalSurname'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="patient.maternalSurname" 
                required name="maternalSurname" ngControl="names" [disabled] ="true"
                #maternalSurname="ngModel">    
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.age'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                required name="age" ngControl="age" [disabled] ="true"
                #age="ngModel">    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label translate>{{'patient.gender.name'}}</label>
              <input type="text" class="form-control disabled-field" [(ngModel)]="patient.paternalSurname" 
                required name="gender" ngControl="gender" [disabled] ="true"
                #gender="ngModel">    
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="form-group">
              <button  class="btn btn-primary btn-xm" (click)="findPatientByCode()"type="button" translate
               (click)="showConsultEMRModal()">
                {{'general.buttons.show_patient_detail'}}
              </button>
            </div>
          </div>
        </div>
        <!-- /PACIENT INFORMATION-->
        <br/>
        <!-- MEDICAL TESTS -->
        <div class="row">
          <div class="col-md-12 ">
            <div class="container-fluid">
              <tabs>
                <tab translate tabTitle="EXAMENES MÉDICOS" title ="{{'health_record.medical_tests'}}" [pageAddress]="pageAddressTab"> 
                  <div class="horizontal-scroll">
                    <br/>
                    <table class="table table-hover">
                      <thead>
                        <tr class="black-muted-bg">
                          <th class="table-id" >N°</th>
                          <th translate>{{'health_record.test_table.health_plan'}}</th>
                          <th translate>{{'health_record.test_table.state'}}</th>
                          <th translate>{{'general.subtitles.download'}}</th>
                          <th translate>{{'general.subtitles.options'}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="phr.emrList != null">
                          <tr *ngFor="let item of phr.emrList; let i=index">
                            <td class="table-id center">{{ i+1 }}</td>
                            <td>{{ item.healthPlanName }}</td>
                            <td>{{ item.stateId }}</td>
                            <td>{{ item.createdAt }}</td>
                            <td>{{ item.updatedAt }}</td>
                            <td>
                              <button type="button"  class="btn btn-info btn-icon btn-xm" >
                                <i class="ion-edit"></i>
                              </button>
                              <button type="button"  class="btn btn-info btn-icon btn-xm">
                                <i class="ion-search"></i>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <ng-container *ngIf="phr.emrList.length == 0">
                      <label class="row col-md-12 text-center" translate>{{'general.messages.no_emrs'}}</label>
                    </ng-container>
                  </div>
                  <br/>
                </tab>
              </tabs>
            </div>
          </div>
        </div>
        <!-- /MEDICAL TESTS-->
      </form>
    </ba-card>
  </div>

  <!-- EMR MODAL-->
  <div bsModal #consultEMRModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form #consultEMRForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-label="Close" (click)="hideConsultEMRModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 translate class="modal-title">{{'health_record.emr.subtitle'}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label translate>{{'health_record.emr.patient'}}</label>
                  <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                    required name="names" ngControl="names" [disabled] ="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label translate>{{'health_record.emr.eap'}}</label> 
                  <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                    required name="eap" ngControl="eap" [disabled] ="true">
                </div>
              </div>
            </div>
            <br/>
            <!-- TEST RESULTS-->
            <ba-card translate title="{{'health_record.emr.results'}}" baCardClass="with-scroll card card-primary">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.psychological_test'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                      required name="psychological_test" ngControl="psychological_test" [disabled] ="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.radiology_test'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                      required name="radiology_test" ngControl="radiology_test" [disabled] ="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.serological_test'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                      required name="serological_test" ngControl="serological_test" [disabled] ="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label translate>{{'health_record.emr.blood_type'}}</label>&nbsp;&nbsp;
                    <input type="text" class="form-control disabled-field" [(ngModel)]="patient.names" 
                      required name="blood_type" ngControl="blood_type" [disabled] ="true">
                  </div>
                </div>
              </div>
            </ba-card>
            <!-- /TEST RESULTS-->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /EMR MODAL-->

</div>