<div class="widgets">
  <!--SELECT PATIENT TYPE-->
  <select-patient-type></select-patient-type>
  <!--/SELECT PATIENT TYPE-->

  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <form #registerRadiologyTestForm="ngForm" (ngSubmit)="registerRadiologyTest(registerRadiologyTestForm.form.valid)">
        <div class="row">
          <div class="col-md-6">
            <find-patient (patientNotify)="receiveOutputExternal($event)"></find-patient>
          </div>
          <div class="col-md-6">
            <!-- MEDICAL TEST PROCESS-->
            <ba-card title="PROCESO DE EXAMEN MEDICO" baCardClass="with-scroll card card-primary">
              <medical-test-process-table></medical-test-process-table>
            </ba-card>
            <!-- /MEDICAL TEST PROCESS-->
          </div>
        </div>    
        
        <!--RADIOLOGY TEST RECORD-->
        <ba-card translate title="{{'radiology_test.subtitle'}}" baCardClass="with-scroll card card-primary">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'radiology_test.radiology_type'}}</label>&nbsp;&nbsp;
                <select [(ngModel)]="radiologyTest.typeId" #typeId="ngModel" required
                  class="form-control disabled-field" name="typeId" [disabled]="isRadiologyTestRegistered" 
                  ngControl="typeId" >
                  <option *ngFor="let type of radiologyTypeItemList" 
                    [selected]="type.secondaryId == radiologyTest.typeId"
                    [ngValue] = "type.secondaryId">{{type.name}}</option>
                </select>
                <small *ngIf="typeId.errors?.required && isFieldDisabled" 
                    class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'radiology_test.observation'}}</label>&nbsp;&nbsp;
                <input class="form-control disabled-field" [(ngModel)]="radiologyTest.observation"
                   name="observation" ngControl="observation" [disabled]="isRadiologyTestRegistered" #observation="ngModel">
              </div>
            </div>
          </div>
        </ba-card>
        <!-- /RADIOLOGY TEST RECORD-->
        
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="isRadiologyTestRegistered" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="isRadiologyTestRegistered" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>

</div>