<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">AGREGAR SINTOMA</h4>
    <button class="close" aria-label="Close" (click)="hideAddSymptomModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Tipo de sintoma</label>
          <input type="text" class="form-control disabled-field" 
            required name="names" ngControl="names">
        </div>
        <div class="form-group">
          <label>CIE 10</label>
          <select class="form-control">
            <option>Seleccione</option>
          </select>
        </div>
        <div class="form-group">
          <label>Fecha de cita</label>
          <input type="text" class="form-control disabled-field" 
                required name="paternalSurname" ngControl="paternalSurname">
        </div>
        <div class="form-group">
          <label>Observación</label>
          <textarea placeholder="Default Input" class="form-control disabled-field"
                 id="textarea01"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="hideAddSymptomModal()">Guardar Cambios</button>
  </div>
</div>