<div class="widgets">
  <!--SELECT PACIENT TYPE-->
  <select-pacient-type></select-pacient-type>
  <!--/SELECT PACIENT TYPE-->

  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <form #registerGeneralMedicineTestForm="ngForm" (ngSubmit)="registerGeneralMedicineTest()">
        <div class="row">
          <div class="col-md-6">
            <find-pacient (pacientNotify)="receiveOutputExternal($event)"></find-pacient>
          </div>
          <div class="col-md-6">
            <!-- MEDICAL TEST PROCESS-->
            <ba-card title="PROCESO DE EXAMEN MEDICO" baCardClass="with-scroll card card-primary">
              <medical-test-process-table></medical-test-process-table>
            </ba-card>
            <!-- /MEDICAL TEST PROCESS-->
          </div>
        </div>    
        
        <!-- TRIAJE AND CLINICAL EVALUATION-->
        <div class="row">
          <div class="col-md-12 ">
            <div class="container-fluid">
              <tabs>
                <tab translate [tabTitle]="'TRIAJE'" title="{{'general_medicine_test.triage'}}" [pageAddress]="pageAddressTab">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.weight'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.weight" 
                          required name="weight" ngControl="weight" [disabled] ="isPacientExisting">
                      </div>
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.stature'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.stature" 
                          required name="stature" ngControl="stature" [disabled] ="isPacientExisting">
                      </div>
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.pulse'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.pulse" 
                          required name="pulse" ngControl="pulse" [disabled] ="isPacientExisting">
                      </div>
                      <div class="form-group">
                        <label translate>{{'general_medicine_test.lmp'}}</label>
                        <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.lmp" 
                          required name="lmp" ngControl="lmp" [disabled] ="isPacientExisting">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <!--BLOOD PRESSURE-->
                      <ba-card translate title="{{'general_medicine_test.blood_presure.name'}}" baCardClass="card card-primary">
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.blood_presure.systolic'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.systolic" 
                                required name="systolic" ngControl="systolic" [disabled] ="isPacientExisting">
                        </div>
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.blood_presure.diastolic'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.diastolic" 
                              required name="diastolic" ngControl="diastolic" [disabled] ="isPacientExisting">
                        </div>
                      </ba-card>
                      <!--/BLOOD PRESSURE-->
                    </div>
                    <div class="col-md-4">
                      <!--VISUAL ACUITY-->
                      <ba-card translate title="{{'general_medicine_test.visual_acuity.name'}}" baCardClass="card card-primary">
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.visual_acuity.right_eye'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.rigthEye" 
                            required name="rightEye" ngControl="rightEye" [disabled] ="isPacientExisting">
                        </div>
                        <div class="form-group">
                          <label translate>{{'general_medicine_test.visual_acuity.left_eye'}}</label>
                          <input type="text" class="form-control disabled-field" [(ngModel)]="generalMedicineTest.leftEye" 
                            required name="leftEye" ngControl="leftEye" [disabled] ="isPacientExisting">
                        </div>
                      </ba-card>
                      <!--/VISUAL ACUITY-->
                    </div>
                  </div>
                  <br/>
                  <div class="row text-right">
                    <button type="button" (click)="initilize()" class="btn btn-info btn-xm">Siguiente</button>
                  </div>
                </tab>
                <tab translate tabTitle="EVALUACIÓN CLÍNICA" title ="{{'general_medicine_test.clinical_evaluation'}}" [pageAddress]="pageAddressTab">
                  <div class="row text-xs-left">
                    <button type="button" (click)="showAddSymptomModal()" class="btn btn-info btn-xm">Agregar Sintoma</button>
                  </div> 
                  <br/>
                  <div class="horizontal-scroll">
                    <table class="table table-hover">
                      <thead>
                        <tr class="black-muted-bg">
                          <th class="table-id" translate>{{'general_medicine_test.symptom_table.num'}}</th>
                          <th translate>{{'general_medicine_test.symptom_table.symptoms'}}</th>
                          <th translate>{{'general_medicine_test.symptom_table.appointment'}}</th>
                          <th translate>{{'general_medicine_test.symptom_table.observation'}}</th>
                          <th translate>{{'general.subtitles.options'}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of peopleTableData">
                          <td class="table-id center">{{ item.id }}</td>
                          <td>{{ item.firstName }}</td>
                          <td>{{ item.firstName }}</td>
                          <td>{{ item.lastName }}</td>
                          <td>
                            <button type="button" class="btn btn-info btn-icon btn-xm">
                              <i class="ion-search"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-icon btn-xm">
                              <i class="ion-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-icon btn-xm">
                              <i class="ion-trash-a"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br/>
                  <div class="row text-xs-left">
                    <button type="button" (click)="initilize()" class="btn btn-info btn-xm" [disabled]="isPacientExisting" translate>{{'general.buttons.before'}}</button>
                  </div>
                  <!--/CLINICAL EVALUATION-->
                </tab>
              </tabs>
            </div>
          </div>
        </div>
        <!-- /TRIAJE AND CLINICAL EVALUATION-->
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="isPacientExisting" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="isPacientExisting" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>

  <!-- ADD SYMPTOM MODAL-->
  <div bsModal #addSymptomModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
       
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" (click)="hideAddSymptomModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 translate class="modal-title">{{'general_medicine_test.symptom.subtitle'}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'general_medicine_test.symptom.symptom_type'}}</label>
                <input type="text" class="form-control disabled-field" [(ngModel)]="symptom.typeId" 
                  required name="typeId" ngControl="typeId" [disabled] ="isPacientExisting">
              </div>
              <div class="form-group">
                <label translate>{{'general_medicine_test.symptom.cie_10'}}</label>
                <select class="form-control">
                  <option>Seleccione</option>
                </select>
              </div>
              <div class="form-group">
                <label translate>{{'general_medicine_test.symptom.appointment'}}</label>
                <input type="text" class="form-control disabled-field" [(ngModel)]="symptom.appointment"
                      required name="appointment" ngControl="appointment" [disabled]="isPacientExisting">
              </div>
              <div class="form-group">
                <label translate>{{'general_medicine_test.symptom.observation'}}</label>
                <input type="text" class="form-control disabled-field"[(ngModel)]="symptom.observation"
                      required name="observation" ngControl="observation" [disabled]="isPacientExisting">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-primary btn-xm" (click)="hideAddSymptomModal()" translate>{{'general.buttons.save_changes'}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /ADD SYMPTOM MODAL-->

</div>