<div class="widgets">
  <!--SELECT PATIENT TYPE-->
  <select-patient-type (currentHealthPlanNotify)="receiveOutputExternalOfCurrentHealthPlan($event)"></select-patient-type>
  <!--/SELECT PATIENT TYPE-->

  <div>
    <ba-card title="PACIENTE" baCardClass="with-scroll">
      <form #registerPsychologicalTestForm="ngForm" (ngSubmit)="registerPsychologicalTest(registerPsychologicalTestForm.form.valid)">
        <div class="row">
          <div class="col-md-6">
            <find-patient (patientNotify)="receiveOutputExternalOfPatient($event)"></find-patient>
          </div>
          <div class="col-md-6">
            <!-- MEDICAL TEST PROCESS-->
            <ba-card title="PROCESO DE EXAMEN MEDICO" baCardClass="with-scroll card card-primary">
              <medical-test-process-table></medical-test-process-table>
            </ba-card>
            <!-- /MEDICAL TEST PROCESS-->
          </div>
        </div>    
        
        <!--PSYCHOLOGICAL TEST RECORD-->
        <ba-card translate title="{{'psychological_test.subtitle'}}" baCardClass="with-scroll card card-primary">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label translate>{{'psychological_test.depression_result'}}</label>
                <input type="text" class="form-control disabled-field" [(ngModel)]="psychologicalTest.depressionResult" 
                  required name="depressionResult" maxlength="3" ngControl="depressionResult" [disabled] ="isPsychologicalTestRegistered"
                  #depressionResult="ngModel" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  (change)="psychologicalTest.evaluateDepressionStateByHamilton()"/>
                <small *ngIf="depressionResult.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'psychological_test.depression_state'}}</label>
                <select [(ngModel)]="psychologicalTest.depressionStateId" class="form-control disabled-field" name="stateId"
                  ngControl="depressionStateId" [disabled]="true" #depressionStateId="ngModel">
                  <option *ngFor="let depressionState of depressionStateItemList" [ngValue]="depressionState.secondaryId" 
                    [selected]="depressionState.secondaryId == psychologicalTest.depressionStateId">
                     {{depressionState.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label translate>{{'psychological_test.anxiety_result'}}</label>
                <input type="text" class="form-control disabled-field" [(ngModel)]="psychologicalTest.anxietyResult" 
                  required name="anxietyResult" maxlength="3" ngControl="anxietyResult" [disabled] ="isPsychologicalTestRegistered"
                  #anxietyResult="ngModel" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  (change)="psychologicalTest.evaluateAnxietyStateByHamilton()"/>
                <small *ngIf="anxietyResult.errors?.required && isFieldDisabled" 
                  class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label translate>{{'psychological_test.anxiety_state'}}</label>
                <select [(ngModel)]="psychologicalTest.anxietyStateId" class="form-control disabled-field" name="stateId"
                  ngControl="anxietyStateId" [disabled]="true" #anxietyStateId="ngModel" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let anxietyState of anxietyStateItemList" [ngValue]="anxietyState.secondaryId" 
                    [selected]="anxietyState.secondaryId == psychologicalTest.anxietyStateId">
                     {{anxietyState.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label translate>{{'psychological_test.diagnosis'}}</label>
                <select [(ngModel)]="psychologicalTest.diagnosisId" #diagnosisId="ngModel"
                  class="form-control disabled-field" name="diagnosisId" [disabled]="isPsychologicalTestRegistered" 
                  ngControl="diagnosisId" required>
                  <option *ngFor="let diagnosis of diagnosisItemList" 
                    [selected]="diagnosis.secondaryId == psychologicalTest.typeId"
                    [ngValue] = "diagnosis.secondaryId">{{diagnosis.name}}</option>
                </select>
                <small *ngIf="diagnosisId.errors?.required && isFieldDisabled" 
                    class="text-danger" translate>{{'general.messages.required'}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label translate>{{'psychological_test.observation'}}</label>
                <input class="form-control disabled-field" [(ngModel)]="psychologicalTest.observation"
                   name="observation" ngControl="observation" [disabled]="isPsychologicalTestRegistered" #observation="ngModel">
              </div>
            </div>
          </div>
        </ba-card>
        <!-- /PSYCHOLOGICAL TEST RECORD-->
        
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-xm" [disabled]="isPsychologicalTestRegistered" translate>{{'general.buttons.register'}}</button>&nbsp;&nbsp;
            <button type="button" (click)="initilize()" class="btn btn-primary btn-xm" [disabled]="isPsychologicalTestRegistered" translate>{{'general.buttons.cancel'}}</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>

</div>